<section>
  <div id="home" class="container">
    <h1 class="brigitte">Brigitte</h1>
    <div class="special">
      <h1 class="plus">+</h1>
      <h1 class="matthew">Matthew</h1>
    </div>
    <h2>
      Dunn Gardens / 4pm Aug 6th
    </h2>
    <%= image_tag 'https://lh3.googleusercontent.com/gv6TXDe6s8oUIih-jCEuS2bPAg-3xUfEHC9MmxWxEEjJrnpZE0wP8kdqEqMiq09Fcbv1DVGH8xr-5q57QNfOK4YuHeFDft4uvwSV93qEjlLdm3WM8UEmiUBsDFE9aBca_KLuWlOjLHBufzKlPcXNfPpk7802kaiQCE7lDx6PQJxsBu1xhi4zRLyx4Wl2psKGWFyQd4_XSiWmOw5Mvk1Cp3ziFF_vEBDoPe0qe_zXHpltdq2G4Mr9J3TZuOZ0BAjZjrWA6f2rkljALKVYwu6CDbwv30OmOtoehr67ZK3ycx5g3cksWajHGHq2BR3Z72TgQ9CeACj3_Wh3l42FrckYM7Ktbf_e5lcy99_vYIfxMKEgfVm892UmoYPipxjWFKApO7wyRRnfL3CyomnzJEOQg4weOTKRl_6nNQT8BC-U4y1ZVdf07iy-jx_QfGmfQ5w-KUKnNm1IB9TEXrgwAzH4DLAt7n1ySCKNDvug6xfzZvh0rffNSRq5NH5Sk1r33SamxLiFOpjtO_BKy-HVHdGH-25tCFveepoZNCAWNLg0Z_akiiKVhsCKsC_aaWngL30Yi1AcD4OF9-X1DxY3vGBlR3LNZaza1FLL=w2193-h1461-no', class: 'img-responsive' %>
  </div>

  <div id="wedding" class="container">
    <h3>Wedding</h3>
    <p>
      We're going to have a casual ceremony in a private garden near our home, followed by dinner, drinks &amp; dancing!
    </p>
    <h4>Outdoor Ceremony + Reception</h4>
    <p>Please arrive by 4pm</p>
    <p>An adult only occasion</p>

    <h4>Attire</h4>
    <p>Dressy casual</p>
    <p>We recommend avoiding heels due to the lawn</p>
  </div>
</section>

<section class="alt">
  <div id="venue" class="container">
    <h3>Venue</h3>
    <p>
      <%= link_to 'Dunn Gardens', 'http://www.dunngardens.org' %> is a beautiful, historic garden located in North Seattle. We plan on having an outdoor ceremony, followed by a reception underneath an outdoor tent.
    </p>
    <%= image_tag 'https://lh3.googleusercontent.com/ehu8jyMyTyRwKbaWFvOGLQr8a9KzMdMxhFR1V721oi5TXswj1T8QWllNBdzNVdzj2ZAnDvFe8D5HZbjvQ7ca2p60U9CvmpZkNh9KDZ276m7PyOAJFeawhnf8QkxG_Bj_vIKAFmM3iqv5FTjiHZlGG99KbozYJr9qmvamFzr0nyrs_n5kUusbMfn6ZTCYFlZs14bKcKXuprBVB9U__o6npLP8KKfSYraLXPK8gIBh1Sd2bjq3bCDK3E8KlrQV9oLV0cKvyVJr2KjwLlvhyq9igxPJ9hxeDvaxYMoAhnZli9AK2mOQ6pL3EtqWZjWVzMCqfKuKYhxVERO4hOasw-RVxtsIoehPrkiSZJCazowiPD_4MFNgqb4Kx7fkleeFXBd6pAqFrhRBlXUo6vZww_UQjFr1FAIMfgSjpGzASITX8U8cj1rhOymJg6LuIF1NapsZ6FWvMmQSg7aKsmxb-pdjJPV-32B6yGPm4I_SNMlt4-fq8MTO3hW8B-eMRhu1M2fn22eXwnjP3GcsyOUthfAy7avVgWrpAYIyimOmAnP7l-e9LYnGZ7oFpMR8AiUxB_sherhYsrq5F0fhC6hgVzUFRgRRxMLEXVa4=w1832-h1374-no', class: 'img-responsive' %>
    <h4>Getting There</h4>
    <p>
      There is no parking in the venue and limited parking in the neighborhood.
    </p>
    <p>
      We encourage everyone to cab or carpool to the wedding. Drink responsibly!
    </p>
    <div id="address">
      <p>13533 Northshire Rd NW, Seattle, WA 98177</p>
      <p><%= link_to 'Map on Google', 'https://maps.google.com?daddr=13533+Northshire+Rd+NW+Seattle+WA+98177' %></p>
    </div>
    <h4>Uber Code: <span>Brigitte</h4>
  </div>
</section>

<section>
  <div id="accomodations" class="container">
    <h3>Accomodations</h3>
    <p>
      We recommend staying in the North Seattle area with
      <%= link_to 'AirBnB', 'https://www.airbnb.com/s/North-Seattle--Seattle--WA--United-States?checkin=08%2F05%2F2016&checkout=08%2F07%2F2016&guests=2&zoom=13&search_by_map=true&sw_lat=47.65930344352209&sw_lng=-122.40524623785359&ne_lat=47.72458753524096&ne_lng=-122.31478069219929&ss_id=bpn1wz2w&s_tag=rzE3gCEf' %> or <%= link_to 'VRBO', 'https://www.vrbo.com/vacation-rentals/@47.76227436667807,-122.28442668984371,47.65415514279825,-122.41763591835934,12z?sleeps=2-plus&from-date=2016-08-05&to-date=2016-08-07' %>.
    </p>
    <p>
      There are not many hotel options near the venue. The closest option is <%= link_to 'Holiday Express on 14115 Aurora Avenue N', 'http://www.ihg.com/holidayinnexpress/hotels/us/en/seattle/seaau/hoteldetail?qRef=rr&qDest=Seattle%2C+14115+aurora+avenue+north%2C+WA%2C+UNITED+STATES%2C+98133&qRpn=1&qChld=0&qSrt=sBR&qSHp=1&qSmP=3&qGRM=0&qLng=-122.345771&qRdU=1&qRms=1&srb_u=1&qAdlt=2&qPSt=0&qFRA=1&qRtP=6CBARC&qCiMy=052016&qrtPt=172.66&qCoD=27&qLat=47.731354&qCiD=26&qCoMy=052016&qRmP=K.O.T.X.C&qRRSrt=rt&qRad=30&qRpp=20&qBrs=6c.hi.ex.rs.ic.cp.in.sb.cw.cv.ul.vn&qWch=0&icdv=99618783#' %>.
    </p>
  </div>

  <div id="registry" class="container">
    <h3>Registry</h3>
    <p>
      If you would like to give a gift, please consider contributing to our honeymoon:
    </p>
    <p>
      <%= link_to 'http://www.honeyfund.com/wedding/BrigitteandMatthew', 'http://www.honeyfund.com/wedding/BrigitteandMatthew' %>
    </p>
  </div>
</section>

<section class="alt">
  <div class="container" id="countdown">
    <h4>See you in:</h4>
    <h3>
      <span class="time">
        <span class="days">4</span><span class="units">D</span>
      </span>
      <span class="time">
        <span class="hours">4</span><span class="units">H</span>
      </span>
      <span class="time">
        <span class="minutes">16</span><span class="units">M</span>
      </span>
      <span class="time">
        <span class="seconds">24</span><span class="units">S</span>
      </span>
    </h3>
  </div>

  <div class="container" id="copyright">
    <p>Development: Matthew Higgins</p>
    <p>Photos: Erin Schedler Photography</p>
    <p>Design: Shawn Zabecki</p>
    <p>© <%= Time.current.year %></p>
  </div>
</section>
