<div class="container site">
  <div id="home">
    <h1>Brigitte</h1>
    <div class="special">
      <h1 class="plus">+</h1>
      <h1>Matthew</h1>
    </div>
    <h2>
      <%= link_to 'Dunn Gardens / 4pm Aug 6th', 'https://maps.google.com?daddr=13533+Northshire+Rd+NW+Seattle+WA+98177' %>
    </h2>
    <%= image_tag 'https://lh3.googleusercontent.com/gv6TXDe6s8oUIih-jCEuS2bPAg-3xUfEHC9MmxWxEEjJrnpZE0wP8kdqEqMiq09Fcbv1DVGH8xr-5q57QNfOK4YuHeFDft4uvwSV93qEjlLdm3WM8UEmiUBsDFE9aBca_KLuWlOjLHBufzKlPcXNfPpk7802kaiQCE7lDx6PQJxsBu1xhi4zRLyx4Wl2psKGWFyQd4_XSiWmOw5Mvk1Cp3ziFF_vEBDoPe0qe_zXHpltdq2G4Mr9J3TZuOZ0BAjZjrWA6f2rkljALKVYwu6CDbwv30OmOtoehr67ZK3ycx5g3cksWajHGHq2BR3Z72TgQ9CeACj3_Wh3l42FrckYM7Ktbf_e5lcy99_vYIfxMKEgfVm892UmoYPipxjWFKApO7wyRRnfL3CyomnzJEOQg4weOTKRl_6nNQT8BC-U4y1ZVdf07iy-jx_QfGmfQ5w-KUKnNm1IB9TEXrgwAzH4DLAt7n1ySCKNDvug6xfzZvh0rffNSRq5NH5Sk1r33SamxLiFOpjtO_BKy-HVHdGH-25tCFveepoZNCAWNLg0Z_akiiKVhsCKsC_aaWngL30Yi1AcD4OF9-X1DxY3vGBlR3LNZaza1FLL=w2193-h1461-no', class: 'img-responsive' %>
  </div>

  <section id="wedding">
    <h3>Wedding</h3>
    <p>
      We're going to have a casual ceremony in a private garden near our home, followed by dinner, drinks &amp; dancing!
    </p>
    <h4>Outdoor Ceremony + Reception</h4>
    <p>Please arrive by 4pm</p>
    <p>Find a babysitter</p>
    <h4>Attire</h4>
    <p>Dressy Casual</p>
    <p>We recommend avoiding heels due to the lawn</p>
  </section>

  <section id="directions">
    <h3>Getting There</h3>
    <p>
      <%= link_to 'Dunn Gardens', 'http://www.dunngardens.org' %> is a historic garden located in North Seattle.
    </p>
    <p>
      There is no parking in the venue and limited parking in the neighborhood.
    </p>
    <p>
      We encourage everyone to cab or carpool to the wedding. Drink responsibly!
    </p>
    <p>Uber Code: </p>
    <%= image_tag 'https://lh3.googleusercontent.com/D_t6o2cwHaVZd_y4jIQfr56rcKIdzjaK_xK-1SJIQ6AkdxsD7ctYkK82igg6BCApODnFvvOjj1QFu-IZ09iedPx-C35KwUq6TB98j5qyv2W6zbSOHxiOVRdG6fQTo0sdXKg3Mg85gKqplWAkNdiR9QcJUkIWnvuVq7wP-YJvyuwxKRt_Jjw2zteEsn72kkD2CbCtSVYF0k-DB9kB8WUFaLcBPa-9KiZ_Bdv7WOq6EWbHChwD8tWgNtgf7Z5ZKpB_H9AImVPgLn3DzQZK5v2hlsxYFKIMHPUtek-FkMsZCW-O8lWrT7CGxF0PRSHztQkIwLlCojslr2K-O5aGyLoF-fqJHN_o1F2zGgvgumrmg5HpU2s2wBa6D9pz9mHhNv8lJ62Ck6JoSAXhYeLgm4LZBQeXLN8KU6fuVgBZFP41YBq5JykLAKgVzf-G6xMLOnFjU5iH7vCIEmRJI_ThtrKBB8cCig5adgPo5i73Qx1j8VfGhcW0ipEQsLelDg3fRlZuxZ0_HN_coRAC45gSM7tlMnD__FKblNjZn3Dea_hwdoL7pvfNJGKcQxFdZytjo5yohBalWfQaC0BuskUvZpvmaPZ_HxCzpdGR=w1833-h1374-no', class: 'img-responsive' %>
    
    <!--<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJj2wT1tIWkFQRQ2fkJffuO_c&key=..." allowfullscreen></iframe>-->
  </section>

  <section id="accomodations">
    <h3>Accomodations</h3>
    <p>
      There aren't many great hotel options near the venue.
      We recommend staying in the Seattle hotel of your choice, or using AirBnB to find a location in North Seattle.
    </p>
  </section>

  <section id="registry">
    <h3>Registry</h3>
    <p>
      If you would like to give a gift, please consider contributing to our honeymoon:
    </p>
    <p>
      <%= link_to 'http://www.honeyfund.com/wedding/BrigitteandMatthew', 'http://www.honeyfund.com/wedding/BrigitteandMatthew' %>
    </p>
  </section>
  <section class="alt">
    <div id="countdown">
      <h3>See you in:</h3>
      <h2>
        <span class="time">
          <span class="days">4</span><span class="units">D</span>
        </span>
        <span class="time">
          <span class="hours">4</span><span class="units">H</span>
        </span>
        <span class="time">
          <span class="minutes">16</span><span class="units">M</span>
        </span>
        <span class="time">
          <span class="seconds">24</span><span class="units">S</span>
        </span>
      </h2>
    </div>
  </section>
</div>