<section>
  <div id="home" class="container">
    <h1 class="brigitte">Brigitte</h1>
    <div class="special">
      <h1 class="plus">+</h1>
      <h1 class="matthew">Matthew</h1>
    </div>
    <h2>
      Dunn Gardens / 4pm Aug 6th
    </h2>
    <%= image_tag 'https://lh3.googleusercontent.com/gv6TXDe6s8oUIih-jCEuS2bPAg-3xUfEHC9MmxWxEEjJrnpZE0wP8kdqEqMiq09Fcbv1DVGH8xr-5q57QNfOK4YuHeFDft4uvwSV93qEjlLdm3WM8UEmiUBsDFE9aBca_KLuWlOjLHBufzKlPcXNfPpk7802kaiQCE7lDx6PQJxsBu1xhi4zRLyx4Wl2psKGWFyQd4_XSiWmOw5Mvk1Cp3ziFF_vEBDoPe0qe_zXHpltdq2G4Mr9J3TZuOZ0BAjZjrWA6f2rkljALKVYwu6CDbwv30OmOtoehr67ZK3ycx5g3cksWajHGHq2BR3Z72TgQ9CeACj3_Wh3l42FrckYM7Ktbf_e5lcy99_vYIfxMKEgfVm892UmoYPipxjWFKApO7wyRRnfL3CyomnzJEOQg4weOTKRl_6nNQT8BC-U4y1ZVdf07iy-jx_QfGmfQ5w-KUKnNm1IB9TEXrgwAzH4DLAt7n1ySCKNDvug6xfzZvh0rffNSRq5NH5Sk1r33SamxLiFOpjtO_BKy-HVHdGH-25tCFveepoZNCAWNLg0Z_akiiKVhsCKsC_aaWngL30Yi1AcD4OF9-X1DxY3vGBlR3LNZaza1FLL=w2193-h1461-no', class: 'img-responsive' %>
  </div>

  <div id="wedding" class="container">
    <h3>Wedding</h3>
    <p>
      We're going to have a casual ceremony in a private garden near our home, followed by dinner, drinks &amp; dancing!
    </p>
    <h4>Outdoor Ceremony + Reception</h4>
    <p>Please arrive by 4pm</p>
    <p>Find a babysitter</p>

    <h4>Attire</h4>
    <p>Dressy Casual</p>
    <p>We recommend avoiding heels due to the lawn</p>
  </div>
</section>

<section class="alt">
  <div id="venue" class="container">
    <h3>Venue</h3>
    <p>
      <%= link_to 'Dunn Gardens', 'http://www.dunngardens.org' %> is a historic garden located in North Seattle.
    </p>
    <%= image_tag 'https://lh3.googleusercontent.com/ehu8jyMyTyRwKbaWFvOGLQr8a9KzMdMxhFR1V721oi5TXswj1T8QWllNBdzNVdzj2ZAnDvFe8D5HZbjvQ7ca2p60U9CvmpZkNh9KDZ276m7PyOAJFeawhnf8QkxG_Bj_vIKAFmM3iqv5FTjiHZlGG99KbozYJr9qmvamFzr0nyrs_n5kUusbMfn6ZTCYFlZs14bKcKXuprBVB9U__o6npLP8KKfSYraLXPK8gIBh1Sd2bjq3bCDK3E8KlrQV9oLV0cKvyVJr2KjwLlvhyq9igxPJ9hxeDvaxYMoAhnZli9AK2mOQ6pL3EtqWZjWVzMCqfKuKYhxVERO4hOasw-RVxtsIoehPrkiSZJCazowiPD_4MFNgqb4Kx7fkleeFXBd6pAqFrhRBlXUo6vZww_UQjFr1FAIMfgSjpGzASITX8U8cj1rhOymJg6LuIF1NapsZ6FWvMmQSg7aKsmxb-pdjJPV-32B6yGPm4I_SNMlt4-fq8MTO3hW8B-eMRhu1M2fn22eXwnjP3GcsyOUthfAy7avVgWrpAYIyimOmAnP7l-e9LYnGZ7oFpMR8AiUxB_sherhYsrq5F0fhC6hgVzUFRgRRxMLEXVa4=w1832-h1374-no', class: 'img-responsive' %>
    <h4>Getting There</h4>
    <p>
      There is no parking in the venue and limited parking in the neighborhood.
    </p>
    <p>
      We encourage everyone to cab or carpool to the wedding. Drink responsibly!
    </p>
    <div id="address">
      <p>13533 Northshire Rd NW, Seattle, WA 98177</p>
      <p><%= link_to 'Map on Google', 'https://maps.google.com?daddr=13533+Northshire+Rd+NW+Seattle+WA+98177' %></p>
    </div>
    <p>Uber Code: </p>
  </div>
</section>

<section>
  <div id="accomodations" class="container">
    <h3>Accomodations</h3>
    <p>
      There aren't many great hotel options near the venue.
      We recommend staying in the Seattle hotel of your choice, or using AirBnB to find a location in North Seattle.
    </p>
  </div>

  <div id="registry" class="container">
    <h3>Registry</h3>
    <p>
      If you would like to give a gift, please consider contributing to our honeymoon:
    </p>
    <p>
      <%= link_to 'http://www.honeyfund.com/wedding/BrigitteandMatthew', 'http://www.honeyfund.com/wedding/BrigitteandMatthew' %>
    </p>
  </div>
</section>

<section class="alt">
  <div class="container" id="countdown">
    <h4>See you in:</h4>
    <h3>
      <span class="time">
        <span class="days">4</span><span class="units">D</span>
      </span>
      <span class="time">
        <span class="hours">4</span><span class="units">H</span>
      </span>
      <span class="time">
        <span class="minutes">16</span><span class="units">M</span>
      </span>
      <span class="time">
        <span class="seconds">24</span><span class="units">S</span>
      </span>
    </h3>
  </div>

  <div class="container" id="copyright">
    <p>Development: Matthew Higgins</p>
    <p>Photos: Erin Schedler Photography</p>
    <p>Design: Shawn Zabecki</p>
    <p>© <%= Time.current.year %></p>
  </div>
</section>
